{% extends "base.html" %}

{% block title %} {{post.title}} {% endblock %}

{% block heading %} {{post.title}} {% endblock %}

{% block content %}

<div>
    {{post.content}}
</div>

<div class="mb-3">
    By, {{post.user.first_name}} {{post.user.last_name}}
</div>

<!-- doesn't need to be form. make <a></a> -->
<form action="/users/{{post.user_id}}">
    <button class="btn btn-outline-primary">Cancel</button>
</form>

<!-- doesn't need to be form. make <a></a> -->
<form action="/posts/{{post.id}}/edit">
    <button class="btn btn-primary">Edit</button>
</form>

<form action="/posts/{{post.id}}/delete" method="POST">
    <button class="btn btn-danger">Delete</button>
</form>



{% endblock %}